/.trae
/.vscode
/utils/api
/docs
/utils
*.code-workspace
*.bak
github_string_fetcher.js
.eslintrc.js

# Node.js 相关文件（可选忽略）
/node_modules
/package-lock.json
/build

# 保留的构建工具文件不忽略
# build-tool.html
# merge-script.js
/test
